[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "<2.0.0"
pytest-cov = "*"
coveralls = "*"
"autopep8" = "*"
pytest-watch = "*"

[requires]
python_version = "2.7.6"
